*{
    margin: 0;
    padding: 0;
}
.login-link{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
.image-icon{
    cursor: pointer;
}
.text1{
    border: none;
    outline: none;
    padding: 5px 10px;
    position: inherit;
    left: -10px;
    color: gray;
    font-size: 1rem;
    margin-bottom: 20px;
}
.file-input{
    display: none;
}
.link{
    text-decoration: none;
    color: black;
}
#url-img{
    margin: 0 0 10px;
}
